<section class="bgimage" id="home">
    <div class="container-fluid">
        <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 hero-text">
            <h2 class="hero_title">Hi, it's me Clark</h2>
            <p class="hero_desc">I am a Computer Engineer graduate of Mapua University</p>
        </div>
        </div>
    </div>
</section>
<section id="about">
    <div class="container mt-4 pt-4">
        <h1 class="text-center">About Me</h1>
        <div class="row mt-4">
            <div class="col-lg-4">
                <img src="assets/img/aboutme.jpg" class= "imageAboutPage" alt="">
            </div>

            <div class="col-lg-8">
                <p align="justify"> My name is Clark Joshua R. Viray. I am a recent Computer Engineer graduate of Mapua University. Currently, I am teaching myself on how to become a Software Engineer by understanding Full-Stack Development and learning different programming languages. Last December 2021, I worked in You_Source Inc. as a Software Engineer Intern. It lasted for 3 months wherein I was trained for Full-Stack Development. I was exposed to Agile Methodology and worked on one of You_Source's Applications: StratApp. I mainly focused on Unit Testing to improve Code Coverage.

                </p>
                <div class="row mt-3">
                    <div class="col-md-6">
                        <ul>
                            <li>Name: Clark Viray</li>
                            <li>Age: 25</li>
                            <li>Occupation: Automation Executive at Unilever Philippines</li>
                        </ul>
                    </div>
                </div>
                <div class="row mt-1">
                    <p align="justify"> I am open to different opportunities within the IT/Software industry and I would love to learn and grow.
                        Also, here is my <a href="https://github.com/ClarkViray">github</a>.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="Projects">
    <div class="container">
        <h1 class="text-center">Projects</h1>
        <div class="row mb-3">
            <div class="col-lg-4 mt-4">
                <div class="card servicesText">
                    <div class="card-body">
                        <i class="fas servicesIcon fa-clock"></i>
                        <h4 class="card-title mt-3">IoT-Based monitoring of Temperature and Humidity Using Infrared Thermography for Cryptocurrency Mining Room</h4>
                        <p align="justify" class="card-text mt-2"> This is a project which uses the Python Programming language, CNN Keras Machine Learning Algorithm, Otsu's Theresholding Technique, and IoT to regulate and monitor the Cryptocurrency machines. To learn more click <a href="https://ieeexplore.ieee.org/document/9762410">here</a>.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mt-4">
                <div class="card servicesText">
                    <div class="card-body">
                        <i class='fas servicesIcon fa-layer-group'></i>
                        <h4 class="card-title mt-3">Personal Manga/Manhwa Collection Record</h4>
                        <p align="justify" class="card-text mt-2"> A project for my specialization: HP-UNIX Administration. This is a Project in Linux which uses UNIX Scripting and the SQL database.
                            This is a simple collection record for my Favorite Manga/Manhwa where you can add, delete, and edit.
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 mt-4 mb-4">
                <div class="card servicesText">
                    <div class="card-body">
                        <i class='far servicesIcon fa-check-circle'></i>
                        <h4 class="card-title mt-3">IoT-Based Automatic Alcohol Dispenser Using Atmega328p</h4>
                        <p align="justify" class="card-text mt-2"> A project for my Design Subject where my groupmates and I created an IoT-based Alcohol dispenser with an MIT IoT application.
                            The MIT IoT Application determines the location and Alcohol Level of the Dispenser.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
